<div id="node_form">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#email" aria-controls="profile" role="tab" data-toggle="tab"><%=t('.email')%></a></li>
    <li role="presentation" ><a href="#vk" aria-controls="home" role="tab" data-toggle="tab"><%=t('.vk')%></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="email">
      <%= render 'nodes/email/form' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="vk">
      <%= render 'nodes/vk/form' %>
    </div>
  </div>

</div>
