<div class='form-group'>
  <%= f.input :group_id, collection: b.groups,
              include_blank: false,
              label_method: ->(n) { n.name },
              value_method: ->(n) { n.id } %>
  <%= f.input :_destroy, as: :hidden %>
  <%= f.label :_destroy, link_to('remove', '#', class: 'remove_fields') %>
</div>
