<div class='form-group row'>
  <div class="col-md-10">
  <%= f.input :node_id, collection: b.nodes,
              include_blank: false,
              label_method: ->(n) { n.name },
              value_method: ->(n) { n.id } %>
  </div>
  <div class="col-md-2">
    <%= f.input :_destroy, as: :hidden %>
    <%= f.label :_destroy, link_to('Remove', '#', class: 'remove_fields btn btn-danger ')%>
  </div>
</div>
