<div class="modal fade" id="find-vk-group-modal" tabindex="-1" role="dialog" aria-labelledby="find_vk_group_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="find_vk_group_label">Find groups</h4>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-body" data-vk-token="aa865a2ff5109578f7d7ee773d882eb32fccc36755a554f87d9516a96ab43150d25ed81e27a14b624b3c8">
        <%= render 'nodes/vk/search_form' %>
        <br>
        <div id='list-items' >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
