<form class="form-inline" id="search-form">
  <div class="form-group">
    <label class="sr-only" for="group_query">group_query</label>
    <div class="input-group">
      <input type="text" class="form-control" id="group_query" placeholder="<%=t('.placeholder') %>">
    </div>
  </div>
  <button type="submit" class="btn btn-primary"><%= t('search') %></button>
</form>
